<h1>
  Lunch is served on <%= @lunchdate.show_readable_date %> at <%= @lunchdate.show_readable_time %><br>
  at <%= @lunchdate.place %><br><br>
  <em>Who's going to lunch?</em><br><br>
    <%= @lunchdate.users.map{ |u| u.name}.to_sentence %><br><br>
  <% if is_user_in_group?(@user, @lunchdate.group) && !is_user_going_on_date?(@user, @lunchdate)  %>
    <%= button_to "Let's Do Lunch!", @lunchdate, method: :patch %>
  <% end %>
</h1>
